# $HOME/.config/systemd/user/rclone.service
# From https://blog.galt.me/how-to-mount-gdrive-in-nextcloud/
## Speed up fetches & writes
## https://forum.rclone.org/t/how-to-get-full-directory-tree-cached-on-first-mount/12535/5
[Unit]
Description=Google Drive (rclone)
#Requires=systemd-networkd.service
AssertPathIsDirectory=%h/GDRIVE
After=network-online.target

[Service]
Type=simple
ExecStart=/usr/bin/rclone mount \
        --config=%h/.config/rclone/rclone.conf \
        --syslog \
        --allow-other \
        --cache-tmp-upload-path=/tmp/rclone/upload \
        --cache-chunk-path=/tmp/rclone/chunks \
        --cache-workers=8 \
        --cache-writes \
        --cache-dir=/tmp/rclone/vfs \
        --vfs-cache-mode writes \
        --vfs-cache-poll-interval 20m \
        --vfs-cache-max-age 8760h \
        --vfs-cache-max-size 1024G \
        --attr-timeout 8700h \
        --dir-cache-time 8760h \
        --poll-interval 20m \
        --multi-thread-streams 0 \
        --cache-db-path=/tmp/rclone/db \
        --no-modtime \
        --drive-use-trash \
        --stats=0 \
        --checkers=16 \
        --bwlimit=40M \
        --cache-info-age=120m GDRIVE:/ %h/GDRIVE
ExecStop=/bin/fusermount -u %h/GDRIVE
Restart=always
RestartSec=10

[Install]
WantedBy=default.target
