# $HOME/.config/systemd/user/rclone.service
# From https://blog.galt.me/how-to-mount-gdrive-in-nextcloud/
## Speed up fetches & writes
## https://forum.rclone.org/t/how-to-get-full-directory-tree-cached-on-first-mount/12535/5
[Unit]
Description=Google Drive (rclone)
#Requires=systemd-networkd.service
AssertPathIsDirectory=%h/GDRIVE
After=network-online.target

[Service]
Type=simple
ExecStart=/usr/bin/rclone mount \
    --config=%h/.config/rclone/rclone.conf \
    --syslog \
    --allow-other \
    # Enable Remote Control in Your Mount Command for Targeted Refresh of files \
    --rc \
    --rc-addr 127.0.0.1:5572 \
    \
    # VFS Cache Settings \
    --vfs-cache-mode writes \
    #--cache-dir /tmp/rclone/vfs \
    --vfs-cache-max-age 8760h \
    --vfs-cache-max-size 1024G \
    --vfs-read-chunk-size 128M \
    --vfs-read-chunk-size-limit 1G \
    \
    # Directory and Attribute Caching \
    --attr-timeout 8760h \
    --dir-cache-time 8760h \
    \
    # Polling \
    --poll-interval 20m \
    \
    # Performance and Transfer Tuning \
    --buffer-size 32M \
    --use-mmap \
    --checkers=16 \
    --timeout 1h \
    --bwlimit=40M \
    \
    # Google Drive Specific (if applicable, otherwise remove or adjust) \
    # To solve malware/abuse error of googleapi "Error 403: This file has been identified as malware or spam and cannot be downloaded., cannotDownloadAbusiveFile" \
    --drive-acknowledge-abuse \
    --drive-chunk-size 16M \
    --drive-use-trash \
    \
    GDRIVE:/ %h/GDRIVE
ExecStop=/bin/fusermount -u %h/GDRIVE
Restart=always
RestartSec=10

[Install]
WantedBy=default.target
